{% extends "base.html" %}

{% block body %}
<div class="col-lg-12 col-md-12">
    <div class="card box-shadow--4dp" style="margin: 200px 10px 0px  10px">

        <div class="content">
          <div class="row">
              <div class="col-lg-12">
                    <div class="col-lg-3">
                        <div class="text-center">
                            <a class="btn btn-lg btn-primary" href=" {{url_for('hos.hotcodegen')}} "> <i class="ti-signal"></i> Gén. 30 min.</a>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="text-center">
                            <a class="btn btn-lg btn-warning" href=" {{url_for('hos.hotcodegenun')}} "><i class="ti-signal"></i> Gén. 1heure</a>
                        </div>
                        
                    </div>
                    <div class="col-lg-3">
                        <div class="text-center">
                            <a class="btn btn-lg btn-success" href=" {{url_for('hos.hotcodegendeux')}} "> <i class="ti-signal"></i> Gén. 15 jours</a>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="text-center">
                            <a class="btn btn-lg btn-info" href=" {{url_for('hos.hotcodegentrois')}} "><i class="ti-signal"></i> Gén. 30 jrs </a>
                        </div>
                        
                    </div>
              </div>
          </div>
        </div>
    </div>
</div>
{% endblock body %}