{% extends "basein.html" %}

{% block body %}
<div class="sufee-login d-flex align-content-center flex-wrap">
    <div class="container">
        <div class="login-content" style="margin-top:150px" >
            <div class="login-form">
                    {% with messages= get_flashed_messages(with_categories=true) %}
                    {% if messages  %}
                        {% for category, message in messages %}
                            <div class="alert text-center alert-{{ category }}">
                                <b>{{ message }}</b>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <form method="POST" enctype="multipart/form-data" >
                    {{ form.csrf_token }}
                    <div class="form-group">
                        <label>Code </label>
                        {% if form.code_username.errors %}
                            {{ form.code_username(class="form-control is-invalid", placeholder="Code")}}
                            <i class="form-group__bar"></i>
                            <div class="invalid-feedback">
                        {% for error in form.code_username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                        {% else %}
                        {{ form.code_username(class="form-control", placeholder="Code")}}
                            <i class="form-group__bar"></i>
                        {% endif %}
                    </div>
                    
                    <div class="form-group">
                        <label>Mot de passe</label>
                        {% if form.code_password.errors %}
                            {{ form.code_password(class="form-control is-invalid", placeholder="Mot de passe")}}
                            <i class="form-group__bar"></i>
                            <div class="invalid-feedback">
                        {% for error in form.code_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                        {% else %}
                        {{ form.code_password(class="form-control", placeholder="Mot de passe")}}
                            <i class="form-group__bar"></i>
                        {% endif %}
                    </div>
                    <button  id="submit"  name="submit" type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Connexion</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock body %}