{% extends "base.html" %}

{% block body %}

<div class="col-lg-12 col-md-12">
    <div class="card box-shadow--4dp">
            
        <div class="header">
            <h4 class="title">Les parties de la messe </h4>
            <br>
            <a href="{{ url_for('types.ajouttype')}}" class="btn btn-success"> <i class="ti-menu-alt"></i> Ajouter la partie de la messe </a>

        </div>

       <br>
        {% with messages= get_flashed_messages(with_categories=true) %}
            {% if messages  %}
                {% for category, message in messages %}
                    <div class="alert text-center alert-{{ category }}">
                        <b>{{ message }}</b>
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        <div class="content table-responsive table-full-width">
            <table class="table table-striped">

                <thead>
                    <th>Nom</th>
                    <th  class="text-center">Statut</th>
                    <th  class="text-center">Action</th>
                </tr></thead>
                <tbody>
                    {% for listes in liste%}
                        <tr>
                            <td> {{ listes.nom  }} </td>
                            {% if listes.statut==True%}
                            <td  class="text-center"><a href="{{ url_for('types.statuttype', type_id=listes.id)}}  " class="btn btn-success"> <i class="ti-unlock"></i> </a></td>
                            {% else %}
                            <td  class="text-center"><a href="{{ url_for('types.statuttype', type_id=listes.id)}}" class="btn btn-danger"> <i class="ti-lock"></i> </a></td>
                            {% endif%}
                            <td  class="text-center"> <a href="{{ url_for('types.editype', type_id=listes.id)}}" class="btn btn-warning"> <i class="ti-pencil-alt"></i> </a> </td>
                        </tr>
                    {% endfor %}
 
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock body %}