{% extends "base.html" %}

{% block body %}
<div class="col-lg-12 col-md-12">
    <div class="card box-shadow--4dp">
        <div class="header">
            <h4 class="title">Editer publication </h4>
        </div>
        <div class="content">
                {% with messages= get_flashed_messages(with_categories=true) %}
                {% if messages  %}
                    {% for category, message in messages %}
                        <div class="alert text-center alert-{{ category }}">
                            <b>{{ message }}</b>
                        </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
                <form method="POST" enctype="multipart/form-data" >
                    {{ form.csrf_token }}
     
                    <div class="row">
                        <div class="col-md-12">
                                <div class="form-group">
                                        <label>Titre de la publication</label>
                                        {% if form.ed_titre.errors %}
                                        {{ form.ed_titre(class="form-control border-input is-invalid")}}
                                        <i class="form-group__bar"></i>
                                        <div class="invalid-feedback">
                                            {% for error in form.ed_titre.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.ed_titre(class="form-control border-input")}}
                                        <i class="form-group__bar"></i>
                                        {% endif %}
                                </div>
                        </div> 
                    </div>
    
                    <div class="row">
                        <div class="col-md-12">
                                <div class="form-group">
                                        <label>Contenue</label>
                                        {% if form.ed_resume.errors %}
                                        {{ form.ed_resume(rows="20", class="form-control border-input")}}
                                        <i class="form-group__bar"></i>
                                        <div class="invalid-feedback">
                                            {% for error in form.ed_resume.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.ed_resume(rows="20", class="form-control border-input")}}
                                        <i class="form-group__bar"></i>
                                        {% endif %}
                                </div>
                        </div> 
                    </div>
    
                    <div class="row">
                        <div class="col-md-12">
                                <div class="form-group">
                                    <label>Catégorie</label>
                                    {% if form.ed_cate_pub.errors %}
                                    {{ form.ed_cate_pub(class="form-control select2 ")}}
                                    <i class="form-group__bar"></i>
                                    <div class="invalid-feedback">
                                        {% for error in form.ed_cate_pub.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.ed_cate_pub(class="form-control select2")}}
                                    <i class="form-group__bar"></i>
                                    {% endif %}
                                </div>
                        </div>
                      
                    </div>
    
                    <div class="row">
                        <div class="col-md-6">
                                <div class="form-group">
                                        <label> <small>Doc PDF</small> </label>
                                        {% if form.ed_document_pu.errors %}
                                        {{ form.ed_document_pu(class="file-control is-invalid")}}
                                        <i class="form-group__bar"></i>
                                        <div class="invalid-feedback">
                                            {% for error in form.ed_document_pu.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.ed_document_pu(class="file-control ")}}
                                        <i class="form-group__bar"></i>
                                        {% endif %}
                                </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                    <label> <small>Image de l'Article</small> </label>
                                    {% if form.ed_document_img.errors %}
                                    {{ form.ed_document_img(class="file-control is-invalid")}}
                                    <i class="form-group__bar"></i>
                                    <div class="invalid-feedback">
                                        {% for error in form.ed_document_img.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.ed_document_img(class="file-control ")}}
                                    <i class="form-group__bar"></i>
                                    {% endif %}
                            </div>
                    </div>
                    </div>    
                    <div class="text-center">
                            <button class="btn btn-outline-info btn-md" id="submit" name="submit" type="submit">
                                    <i class="ti-receipt"></i> Publier
                            </button>
                    </div>
                    <div class="clearfix"></div>
                </form>
        </div>
    </div>
</div>

{% endblock body %}