{% extends "base.html" %}

{% block body %}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card box-shadow--4dp">
            
        <div class="header">
            <h4 class="title">Les publications sur la plateforme</h4>
            <br>
            <a href="{{ url_for('publication.ajouterpub')}}" class="btn btn-primary"> <i class="ti-receipt "></i> Ajouter publication </a>
        </div>
        <br>
       
        {% with messages= get_flashed_messages(with_categories=true) %}
            {% if messages  %}
                {% for category, message in messages %}
                    <div class="alert text-center alert-{{ category }}">
                        <b>{{ message }}</b>
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        <div class="content table-responsive table-full-width">
            <table class="table table-striped">

                <thead>
                   
                        {% if current_user.role =='Admin' %}
                            <th>Titre de la publication</th>
                            <th class="text-center">Catégorie</th>
                            <th class="text-center">Utilisateur</th>
                            <th  class="text-center">Statut</th>
                            <th  class="text-center">Action</th>
                        {% else %}
                            <th>Titre de la publication</th>
                            <th class="text-center">Catégorie</th>
                            <th  class="text-center">Statut sur plateforme</th>
                            <th  class="text-center">Action</th>
                        {% endif%}
                    

                </tr></thead>
                <tbody>
                    {% for listes in liste.items%}
                        {% if current_user.role =='Admin' %}
                            <tr>
                                <td> {{ listes.titre }} </td>
                                <td class="text-center"> {{ listes.categorie_article.nom }} </td>
                                <td class="text-center"> {{ listes.user_article.prenom }} </td>
                                {% if listes.statut==True%}
                                <td  class="text-center"><a href=" {{ url_for('publication.statutpub', pub_id=listes.id)}} " class="btn btn-success"> <i class="ti-unlock"></i> </a></td>
                                {% else %}
                                <td  class="text-center"><a href=" {{ url_for('publication.statutpub', pub_id=listes.id)}} " class="btn btn-danger"> <i class="ti-lock"></i> </a></td>
                                {% endif%}
                                <td  class="text-center"> <a href="{{ url_for('publication.editpub', pub_id=listes.id)}} " class="btn btn-warning"> <i class="ti-pencil-alt"></i> </a> </td>
                            </tr>
                        {% endif %}       
                    {% endfor %}

                    {% for listes in liste.items%}
                        {% if current_user.role =='Webmaster' %}
                        {% if listes.user_id == current_user.id %}
                        
                            <tr>
                                <td> {{ listes.titre }} </td>
                                <td class="text-center"> {{ listes.categorie_article.nom }} </td>
                                {% if listes.statut==True%}
                                <td  class="text-center"><a href="" class="btn btn-success"> <i class="ti-unlock"></i> </a></td>
                                {% else %}
                                <td  class="text-center"><a href="" class="btn btn-danger"> <i class="ti-lock"></i> </a></td>
                                {% endif%}
                                <td  class="text-center"> <a href="" class="btn btn-warning"> <i class="ti-pencil-alt"></i> </a> </td>
                            </tr>
                                
                        {% endif%}
                        {% endif%}
                    {% endfor %}
 
                </tbody>
            </table>

            <div class="box-footer clearfix">
                <div class="text-center">
                    {% for page_num in liste.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if page_num %}
                        {% if liste.page==page_num %}
                            <a class="btn btn-info mb-4" href="{{ url_for('publication.lipub', page=page_num) }}">{{ page_num}}</a>
                        {% else %}
                            <a class="btn btn-outline-info mb-4" href="{{ url_for('publication.lipub', page=page_num) }}">{{ page_num}}</a>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock body %}