{% extends "base.html" %}

{% block body %}
<div class="col-lg-12 col-md-12">
    <div class="card box-shadow--4dp" style="margin-top: 150px;">

        <div class="content">
          <div class="row">
              <div class="col-lg-12">
                    <div class="col-lg-4">
                        <div class="text-center">
                            <a class="btn btn-lg btn-primary" href=" {{url_for('user.liuser')}} "> <i class="ti-user"></i> Utilisateur</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-center">
                            <a class="btn btn-lg btn-warning" href="{{url_for('categorie.litcate')}} "><i class="ti-layout-column2-alt"></i> Catégorie</a>
                        </div>
                        
                    </div>
                    <div class="col-lg-4">
                        <div class="text-center">
                            <a class="btn btn-lg btn-info" href="{{url_for('types.littype')}} "><i class="ti-music-alt"></i> Partie de la messe</a>
                        </div>
                    </div>
              </div>
          </div>
        </div>
    </div>
</div>
{% endblock body %}