{% extends "autrespage.html" %}

{% block body %}

<section class="blog_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <p class="text-justify">
                    {{ rec.contenu|safe}}
                </p>
            </div>
            <div class="col-lg-4">
                {% include 'sidebar/sidebarapropos.html' %}
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->

{% endblock body %}

