<div class="blog_right_sidebar">
	<aside class="single_sidebar_widget post_category_widget">
		<h4 class="widget_title">A Propos de nous</h4>
		<ul class="list_style cat-list">
			<li>
				<a href=" {{url_for('siteweb.quisommes') }} " class="d-flex justify-content-between">
					<p>Qui sommes-nous</p>
					
				</a>
			</li>
			<li>
				<a href="{{url_for('siteweb.historique') }} " class="d-flex justify-content-between">
					<p>Historique</p>
				   
				</a>
			</li>
			<li>
				<a href="{{url_for('siteweb.comite') }} " class="d-flex justify-content-between">
					<p>Comité du chouer</p>
					
				</a>
			</li>
			<li>
				<a href="{{url_for('siteweb.prospectif') }} " class="d-flex justify-content-between">
					<p>Perspectives d'avenir</p>
				</a>
			</li>
														
		</ul>
		
	</aside>
	
	
</div>