<section class="banner_area">
  <div class="booking_table d_flex align-items-center">
    <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
<div class="container">
<div class="banner_content text-center">
  <h6>Notre devise:</h6>
  <h2>Conscience, Volonté et Discipline</h2>
              <p style="font-weight: bold" class="text-center">
                 <h4> En tant que chantre: <br> 
                  Que la conscience, la volonté et la discipline chantent à ma place.
              </h4>
              </p>
  <a href="#" class="btn theme_btn button_hover">Nos événements</a>
</div>
</div>
  </div>
</section>