<section class="banner_area">
  <div class="booking_table d_flex align-items-center">
    <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
<div class="container">
<div class="banner_content text-center" style="margin-top: 5px;">
  <!-- <h2>Choeur Pilote des Petits Chanteurs d'Uvira (CPPCU) </h2> -->
              <p style="font-weight: bold" class="text-center">
                 <!-- <h4> En tant que chantre: <br> 
                  Que la conscience, la volonté et la discipline chantent à ma place. -->
              </h4>
              </p>
  
</div>
</div>
  </div>
</section>