    <!--==========================
      Intro Section
    ============================-->
    <section id="intro">
            <div class="intro-container">
              <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
        
                <ol class="carousel-indicators"></ol>
        
                <div class="carousel-inner" role="listbox">
        
                  <div class="carousel-item active">
                    <div class="carousel-background"><img src="{{url_for('static', filename='site/p/1.jpg')}} " alt=""></div>
                    <div class="carousel-container">
                      <div class="carousel-content">
                        <h2>Nous vous connectons.</h2>
                        <p> KAMAS Multi-services Sarl, vous aide a connecté le votre entreprise avec le monde grâce à une connection haut débit.
                      </p>
                        <a href="#services" class="btn-get-started scrollto">Nos services</a>
                      </div>
                    </div>
                  </div>
        
                  <div class="carousel-item">
                    <div class="carousel-background"><img src="{{url_for('static', filename='site/p/2.jpg')}}" alt=""></div>
                    <div class="carousel-container">
                      <div class="carousel-content">
                        <h2>Nous commercialisons pour vous</h2>
                        <p>Chez KAMAS Multi-services Sarl, le commerce n'a plus de secret, nous le faison au niveau national et international</p>
                          <a href="#services" class="btn-get-started scrollto">Nos services</a>
                      </div>
                    </div>
                  </div>
        
                  <div class="carousel-item">
                    <div class="carousel-background"><img src="{{url_for('static', filename='site/p/3.jpg')}}" alt=""></div>
                    <div class="carousel-container">
                      <div class="carousel-content">
                        <h2>Affichez via KAMAS Multi-services Sarl.</h2>
                        <p>Un service totalement gratuit chez KAMAS Multi-services via un valve éctronique, uniquement pour vous.</p> <a href="#valves" class="btn-get-started scrollto">Vos affiches</a>
                      </div>
                    </div>
                  </div>
      
                </div>
        
                <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
        
                <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
        
              </div>
            </div>
          </section><!-- #intro -->